/*=====================================
GENERAL SET-UP
=====================================*/

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-family: 'Open Sans', sans-serif;
    background-color: #f7794b;
    text-align: center;
}

header {
    display: inline-block;
}

.header__title {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    text-transform: uppercase;
}

.header__underline {
    width: 64px;
    height: 2px;
    border: none;
}

.header__text {
    font-size: 14px;
}

/*=====================================
TOP ARTICLE
=====================================*/

.top {
    display: inline-block;
    width: 1401px;
    height: 591px;
    background-color: #FFFFFF;
}

.top header {
    padding-top: 106px;
    padding-bottom: 80px;   
}

.top__title {
    color: #212121;
}

.top__underline {
    margin: 30px auto;
    background-color: #FF8D2D;
}

.top__text {
    color: #86878B;
}

.card {
    box-sizing: content-box;
    display: inline-block;
    height: 197px;
    width: 350px;
    font-size: 0;
}

.card:nth-last-of-type(2) {
    padding: 0 32px;
}

.card__icon {
    position: relative;
    width: 68px;
    height: 68px;
    margin: 0 auto;
    border: 2px solid #FF8D2D;
    border-radius: 50%;
    font-size: 28px;
    color: #FF8D2D;
}

.lightbulb-icon {
    background: url(../img/icons/lightbulb-icon.png) center no-repeat;
    background-size: 30px 30px;
}

.keyboard-icon {
    background: url(../img/icons/keyboard-icon.png) center no-repeat;
    background-size: 35px 30px;
}

.bolt-icon {
    background: url(../img/icons/bolt-icon.png) center no-repeat;
    background-size: 30px 30px;
}

.card__title {
    padding: 25px 0;
    font-size: 20px;
}

.card__descr {
    width: 350px;
    height: 57px;
    margin: 0 auto;
    font-size: 14px;
    color: #86878B;
}

/*=====================================
BOTTOM ARTICLE
=====================================*/

.bottom {
    display: inline-block;
    width: 1401px;
    height: 422px;    
}

.bottom header {
    width: 1401px;
    height: 322px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/bg/city-background.png) center no-repeat;
}

.bottom__title {
    padding-top: 76px;
    color: #FFFFFF;
}

.bottom__underline {
    margin: 26px auto 23px auto;
    background-color: #FFFFFF;
}

.bottom__text {
    padding-bottom: 33px;
    color: #FFFFFF;
}

button {
    box-sizing: content-box;
    display: inline-block;
    margin-bottom: 63px;
    padding: 10px 30px;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    font-size: 16px;
  }

button:focus {
    outline: 0;
}

button:hover {
    background-color: #FFFFFF;
    color: #86878B;
    transition: all 0.1s ease-in-out;
}

.bottom footer {
    position: relative;
    height: 101px;
    background-color: #212121;
}

.bottom__social-media-icons {
    display: inline-block;
    height: 100px;
    width: 317px;
    padding-top: 39px;
    background: url(../img/icons/social-media-icons.png) center no-repeat;
}

.bottom__link {
    display: inline-block;
    height: 23px;
    width: 23px;
    margin-right: 18px;
    font-size: 0;
}

.bottom__copyright {
    position: absolute;
    top: 74px;
    left: 630px;
    font-size: 12px;
    color: #FFFFFF;
    opacity: 0.5;
}